{{#section 'wysiwyg'}}
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<script>
		tinymce.init({
			selector: 'textarea#blogTextarea'
		});
	</script>
{{/section}}
<div class="mcontainer">
	<div class="mcontainer">

		<div class="-mt-16 bg-white max-w-3xl mx-auto p-10 relative rounded-md shadow">

			<div class="md:space-y-6 space-y-5 text-gray-400 md:text-base">

				<div class="font-semibold md:text-2xl text-lg text-gray-700">Write about your website here</div>
				<div class="md:leading-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>

				<div class="font-semibold md:text-xl text-lg text-gray-700"> Remote is not for everyone</div>
				<div class="md:leading-8">Laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
				<div class="md:leading-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div>
				<div class="md:leading-8">Aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
				<textarea id="blogTextarea">Hello, World!</textarea>
			</div>

		</div>

	</div>
</div>