{{#section 'css'}}
    <link rel="stylesheet" href="/public/assets/css/uploadImg.css">
{{/section}}
<div class="main-container">
    <!-- editor -->
    <div class="col-md-12 mt-4 mb-5">
        <form action="/blog/write" class="form-group flex-sm-column d-flex flex-wrap justify-content-center" method="post">
            <!-- post title -->
            <div class="title d-md-flex align-items-center justify-content-center">

                <input id="title" name="title" type="text" placeholder="Post title" class="p-title-input shadow-sm a-shadow" required></input>
            </div>
            <!-- content input -->
            <div class="d-lg-block m-2">
                <textarea id="content" name="content" style="min-height: 380px;"></textarea>
            </div>

            <!-- another info -->
            <div class="another-info row d-md-flex flex-wrap justify-content-between w-75">
                <div class="price col-md-6 m-0 p-0 shadow-sm">
                    <div class="" style="width: calc(100% - 65px);">
                        <input name="price" id="price" type="number" placeholder="Price" class="" min="0" required>
                    </div>
                    <span class="unit">
                        <select name="priceUnit" id="priceUnit" style="height: 50px;">
                            <option value="vnd">VND</option>
                            <option value="usd">USD</option>
                        </select>
                    </span>
                </div>
                <div class="vehical col-md-6 m-0 p-0">
                    <select name="vehicle" id="vehicle" required class="shadow-sm">
                        <option value="" disabled selected hidden>Select</option>
                        <option value="Đi bộ">Đi bộ</option>
                        <option value="Xe đạp">Xe đạp</option>
                        <option value="Xe máy">Xe máy</option>
                        <option value="Ô tô">Ô tô</option>
                        <option value="Xe khách">Xe khách</option>
                        <option value="Xe lửa">Xe lửa</option>
                        <option value="Tàu thuỷ, thuyền">Tàu thuỷ, thuyền</option>
                        <option value="Máy bay">Máy bay</option>
                    </select>
                </div>
                <div id="uploadImg" class="input-group flex-column align-items-center">
                    <input name="image" type="file" id="file-input" accept="image/jpeg. image.png" onchange="preview()">
                    <label for="file-input" class="custom-file-label btn btn-info rounded m-2">
                        <i class="fas fa-upload"></i> Choose a cover image</label>
                    <p id="numOfFile"></p>
                    <div id="images" class="row w-100 d-lg-flex mt-2 mb-2 align-items-center justify-content-around"></div>
                </div>
            </div>
            <!-- image input -->
            <!-- submit btn -->
            <span class="w-100 d-flex justify-content-end">
                <button type="submit" name="Post" class="btn btn-primary col-12 col-md-2">Post</button>
            </span>
        </form>
    </div>
</div>

{{#section 'js'}}
    <!--bootstrap-->
    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.2/plugins/image/plugin.min.js" integrity="sha512-u7KhbXWnzixnSEh14OekZETi44aE5rCpWcZiuhwLOC76Q4s+BhMxb4tUbv/+Y9zUq/C9sdmePd0tvnI5PB0mzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.2/tinymce.min.js" integrity="sha512-MbhLUiUv8Qel+cWFyUG0fMC8/g9r+GULWRZ0axljv3hJhU6/0B3NoL6xvnJPTYZzNqCQU3+TzRVxhkE531CLKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/assets/js/uploadImg.js"></script>
{{/section}}